<div style="background-image: linear-gradient(to right, #0e24b1, #0042c6, #005cd8, #0075e8, hsl(208, 93%, 52%));">
    <h2 class="text-center" style="color:white;"><img src="assets/demo/images/dmklogo.png" alt="..." width="100px" style="margin-top:60px;margin-bottom: -20px;"><span style="margin:20px;padding-bottom:30px;">DMK Engineers Wing</span></h2>
<div  class="col-12 md:col-6" style="padding-left:300px">

	<div class="card p-fluid" style="width:900px">

		<h5 class="text-center">Create office bearer</h5>
        <form [formGroup]='officebearerform' (ngSubmit)="postdata(officebearerform)" autocomplete="off">
			<div class="field grid">
				<div class="col-6 md:col-6">
					<input type="text" name="firstname" formControlName="firstname" placeholder="First Name/முதல் பெயர்"/>
				</div>
			<div class="col-6 md:col-6">
				<input type="text" name="lastname" formControlName="lastname" placeholder="Last Name/குடும்ப பெயர்"/>
			</div>
		</div>
		<div class="field grid">
			<div class="col-6 md:col-6">
				<input type="number" name="age" formControlName="age" placeholder="Age / வயது"/>
			</div>
			<div class="col-6 md:col-6">
				<input type="date" name="date_of_birth" formControlName="date_of_birth" placeholder="Date of Birth"/>
			</div>
		</div>
        <div class="field grid">
			<div class="col-12 md:col-12">
				<input type="text" name="father_name" formControlName="father_name" placeholder="Father Name / தந்தையின் பெயர்"/>
			</div>
        </div>
        <div class="field grid">
			<div class="col-6 md:col-6">
				<input type="text" name="educational_qualification" formControlName="educational_qualification" placeholder="Degree / கல்வித் தகுதி"/>
			</div>
            <div class="col-6 md:col-6">
				<input type="text" name="additional_qualification" formControlName="additional_qualification" placeholder="Additional Degree / சிறப்பு தகுதி"/>
			</div>
        </div>
        <div class="field grid">
			<div class="col-6 md:col-6">
				<input type="text" name="contact_no" formControlName="contact_no" placeholder="Phone Number / தொலைபேசி எண்"/>
			</div>
            <div class="col-6 md:col-6">
				<input type="text" name="whatsapp_no" formControlName="whatsapp_no" placeholder="Whatsapp Number /வாட்ஸ்அப் எண்"/>
			</div>
        </div>
        <div class="field grid">
			<div class="col-12 md:col-12">
				<input type="text" name="email" formControlName="email" placeholder="Email/மின்னஞ்சல்"/>
			</div>
        </div>
		<div class="field grid">
			<div class="col-12 md:col-12">
				<input pInputText type="text" name="profession" formControlName="profession" placeholder="Profession / தொழில்,வேலை"/>
			</div>
        </div>
        <div class="field grid">
			<div class="col-12 md:col-12">
				<textarea name="address1" pInputText formControlName="address1" placeholder="Address / முகவரி" cols="100" rows="5"></textarea>
			</div>
        </div>
        <div class="field grid">

            <div class="col-12 md:col-12">
                <label>Responsibility For Applying / விண்ணப்பிப்பதற்கான பொறுப்பு</label><br>
                <select name="applied_role" formControlName="applied_role">
                    <option value="">Select Option</option>
                    <option value="District Organiser">District Organiser / மாவட்ட அமைப்பாளர்</option>
                    <option value="District Deputy Organiser">District Deputy Organiser / மாவட்ட துணை அமைப்பாளர்</option>
                    <option value="Union Organiser">Union Organiser / ஒன்றிய அமைப்பாளர்</option>
                    <option value="Union Deputy Organiser">Union Deputy Organiser / ஒன்றிய துணை அமைப்பாளர்</option>
                    <option value="City Organiser">City Organiser / நகர அமைப்பாளர்</option>
                    <option value="City Deputy Organiser">City Deputy Organiser / நகர துணை அமைப்பாளர்</option>
                    <option value="Area Organiser">Area Organiser / பகுதி அமைப்பாளர்</option>
                    <option value="Area Deputy Organiser">Area Deputy Organiser / பகுதி துணை அமைப்பாளர்</option>
                    <option value="Village Organiser">Village Organiser / ஊரக அமைப்பாளர்</option>
                    <option value="Village Deputy Organiser">Village Deputy Organiser / ஊரக துணை அமைப்பாளர்</option>
                </select>
			</div>
        </div>
        <div class="field grid">
			<div class="col-12 md:col-12">
				<textarea name="party_comments" pInputText formControlName="party_comments" placeholder="Comments" cols="100" rows="5"></textarea>
			</div>
        </div>
        <div class="field grid">
			<div class="col-6 md:col-6">
				<input pInputText type="text" hidden name="location_id" formControlName="location_id"/>
			</div>
        </div>
            <div class="field grid">
            <div class="col-3 md:col-3"></div>
            <div class="col-6 md:col-6">
                <button >Create office bearer</button>
            </div>
            <div class="col-3 md:col-3"></div>
        </div>
        </form>
	</div>
</div>
</div>
