<div style="background-image: linear-gradient(to right, #0e24b1, #0042c6, #005cd8, #0075e8, hsl(208, 93%, 52%));">
    <h2 class="text-center" style="color:white;"><img src="assets/demo/images/dmklogo.png" alt="..." width="100px" style="margin-top:60px;margin-bottom: -20px;"><span style="margin:20px;padding-bottom:30px;">DMK Engineers Wing</span></h2>
<div  class="col-12 md:col-6" style="padding-left:300px">

	<div class="card p-fluid" style="width:900px">

		<h5 class="text-center">Create District Admin </h5>
        <form [formGroup]='distadminform' (ngSubmit)="postdata(distadminform)" autocomplete="off">
			<div class="field grid">
				<div class="col-6 md:col-6">
					<input type="text" name="firstname" formControlName="firstname" placeholder="First Name/முதல் பெயர்"/>
                    <span class="required "> *</span>
                    <span *ngIf="distadminform.get('firstname').hasError('required') && distadminform.get('firstname').touched"><br>
                        <span class="invalid-msg">Please enter the valid field</span>
                    </span>
                    <span *ngIf="distadminform.get('firstname').hasError('pattern') && distadminform.get('firstname').touched"><br>
                        <span class="invalid-msg">Please enter the valid input</span>
                    </span>
				</div>
			<div class="col-6 md:col-6">
				<input type="text" name="lastname" formControlName="lastname" placeholder="Last Name/குடும்ப பெயர்"/>
                <span class="required "> *</span>
                <span *ngIf="distadminform.get('lastname').hasError('required') && distadminform.get('lastname').touched"><br>
                    <span class="invalid-msg">Please enter the valid field</span>
                </span>
                <span *ngIf="distadminform.get('lastname').hasError('pattern') && distadminform.get('lastname').touched"><br>
                    <span class="invalid-msg">Please enter the valid input</span>
                </span>
			</div>
		</div>
		<div class="field grid">
			<div class="col-6 md:col-6">
				<input type="text" name="designation" formControlName="designation" placeholder="Designation/பதவி"/>
			</div>
			<div class="col-6 md:col-6">
				<input type="text" name="party_designation" formControlName="party_designation" placeholder="Party Designation/கட்சி பதவி"/>
			</div>
		</div>
        <div class="field grid">
			<div class="col-6 md:col-6">
				<!--<input type="text" name="district" formControlName="district" placeholder="District/மாவட்டம்"/>-->
                <select  name="constituencies" formControlName="district"   >             
               
                    <option value="">Select constituencies</option>
                    <option value="Salem (West)">Salem (West)</option>
                    <option value="Salem (North)">Salem (North)</option>
                    <option value="Salem (South)">Salem (South)</option>
                    <option value="Veerapandi">Veerapandi</option>
                    <option value="Rasipuram">Rasipuram</option>
                    <option value="Senthamangalam">Senthamangalam</option>
                    <option value="Attur">Attur</option>
                    <option value="Yercaud">Yercaud</option>
                    <option value="Namakkal">Namakkal</option>
                    <option value="Erode (East)">Erode (East)</option>
                    <option value="Erode (West)">Erode (West)</option>
                 
                      <!-- <option [ngValue]="null" selected disabled>Select User</option> -->
                </select>
                <span class="required "> *</span>
			</div>
        </div>
        <div class="field grid">
			<div class="col-12 md:col-12">
				<input type="text" name="email" formControlName="email" placeholder="Email/மின்னஞ்சல்"/>
                <span class="required "> *</span>
                <span *ngIf="distadminform.get('email').hasError('required') && distadminform.get('email').touched"><br>
                    <span class="invalid-msg">Please enter the valid field</span>
                </span>
                <span *ngIf="distadminform.get('email').hasError('pattern') && distadminform.get('email').touched"><br>
                    <span class="invalid-msg">Please enter the valid Email Id</span>
                </span>
			</div>
        </div>
		<div class="field grid">
			<div class="col-6 md:col-6">
				<input pInputText type="text" name="approval_status" formControlName="approval_status" placeholder="Status/நிலை"/>
			</div>
        </div>
        <div class="field grid">
            <div class="col-6 md:col-6">
				<input pInputText type="text" hidden name="mode" formControlName="mode"/>
			</div>
			<div class="col-6 md:col-6">
				<input pInputText type="text" hidden name="location_id" formControlName="location_id"/>
			</div>
        </div>
            <div class="field grid">
            <div class="col-3 md:col-3"></div>
            <div class="col-6 md:col-6">
                <button>Create District Admin</button>
            </div>
            <div class="col-3 md:col-3"></div>
        </div>
        </form>
	</div>
</div>
</div>