<div style="background-image: linear-gradient(to right, #0e24b1, #0042c6, #005cd8, #0075e8, hsl(208, 93%, 52%));">
    <div class="flex flex-column align-items-center justify-content-center" style="padding-top:10px;">
       <div style="border-radius:100px; padding:0.3rem; background: linear-gradient(180deg,  rgb(30, 4, 198) 50%, rgba(236, 50, 3, 0) 90%);">
        <div class="w-full surface-card py-8 px-5 sm:px-8" style="border-radius:53px">
            <div class="text-center mb-5">
                <img src="assets/demo/images/dmklogo.png" alt="..." width="100px" >
                <div class="text-900 text-3xl font-medium mb-3">Welcome to DMK Engineers Wing Portal</div>
            </div>
            <form [formGroup]='resetpassword' (ngSubmit)="postdata(resetpassword)" autocomplete="off">
                <div class="form-group" hidden>
                <div class="field">
                    <label for="firstname1">Enter Your Registered Mail Id</label>
                    <input  type="email" name="email" formControlName="email" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                </div>
                </div>
                <div class="form-group">
                    <div class="field">
                        <label for="password">New Password</label>
                        <input  type="password" name="password" formControlName="password" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="field">
                            <label for="cpassword">Confirm Password</label>
                            <input  type="password" name="cpassword" formControlName="cpassword" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>
                        </div>
                 <div class="grid">
                <div class="col-12">
                <button pButton pRipple label="Sign In"  class="w-full p-3 text-xl" type="submit" label="Reset"></button>
                </div>
                </div>
            </form>
            </div>

        </div>
       </div>
</div>
